form.lobby__form {
    display: flex;
    flex-flow: row wrap;
    border: 0.1em solid #1a237e;
    padding: 2em;
    max-width: 40em;
    margin: 10em auto;
    border-radius: 3px;
    box-shadow: 2px 2px 4px -2px #1a237e;
        input.lobby__input {
            flex-grow: 2;
            padding: 1em;
            font-size: 1.5em;
            margin-right: 0.5rem;
            margin-bottom: 0.2em;
            border: none;
            background-color: #e8eaf6;
            color: #1a237e;
        }
        label.lobby__label {
            flex-basis: 100%;
            display: block;
            font-size: 2em;
            margin-bottom: 1em;
            margin-top: 1em;
            text-align: center;
            color: #1a237e;
        }
    button.lobby__button {
            padding: 0.5em 1.2em;
            margin-bottom: 0.2em;
            font-size: 1.5em;
            flex-grow: 1;
            border-radius: 2px;
            border: none;
            outline: none;
            cursor: pointer;
            background-color: #e8eaf6;
            box-shadow: 1px 1px 1px -1px #7986cb;
            color: #1a237e;
                &:hover {
                    background-color: #3f51b5;
                    color: #e8eaf6;
                    box-shadow: 2px 2px 2px #1a237e;
                }
                &:active {
                    background-color: #283593;
                    color: #e8eaf6;
                }
    }
}
div.GameAndChat {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    height: 100%;
}