div.chat__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-around;
  flex-basis: 30%;
        ul.chat__messages_fix {
            display: flex;
            flex-direction: column-reverse;
            border: 0.1em solid #1a237e;
            border-radius: 3px;
            box-shadow: 2px 2px 4px -2px #1a237e;
            height: 30em;
            width: 30em;
            overflow-y: auto;
            margin-bottom: 0.5rem;
            margin-top: 0;
            padding: 0;
            align-items: flex-start;
        }
        li.chat__message__your {
            display: inline-flex;
            border-radius: 0.5em 0.5em 0.5em 0;
            padding: 0.3em;
            margin: 0.3em;
            color: white;
            word-break: break-all;
            min-height: fit-content;
            background-color: #7986CB;
        }
        li.chat__message__opponent {
            display: inline-flex;
            border-radius: 0.5em 0.5em 0 0.5em;
            padding: 0.3em;
            margin: 0.3em;
            color: #212121;
            word-break: break-all;
            min-height: fit-content;
            background-color: #E0E0E0;
            align-self: flex-end;
        }
        input.chat__input {
            height: 2rem;
            border: none;
            background-color: #e8eaf6;
            color: #1a237e;
            border: 0.1em solid #1a237e;
            border-radius: 3px;
            box-shadow: 2px 2px 4px -2px #1a237e;
            padding-left: 0.3em;
            font-size: 1em;
        }
    
}