section.game__game_container {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: space-between;
        div.game_container__statistic {
            display: flex;
            height: 2rem;
            justify-content: center;
            align-items: center;
            border: 0.1rem solid #1a237e;
            border-radius: 3px;
            box-shadow: 2px 2px 4px -2px #1a237e;
            margin-bottom: 0.5rem;
            font-size: 1.6em;
            color: #1a237e;
        }
        div.game_container__board {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 30rem;
            border: 0.1em solid #1a237e;
            border-radius: 3px;
            box-shadow: 2px 2px 4px -2px #1a237e;
        
            span.board__information {
                display: flex;
                justify-content: center;
                font-size: 2.5rem;
                color: #1a237e;
                padding-top: 3rem;
            }
            div.board__choice_container {
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                height: 30rem;
                    div.board__choiced_gestures{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        div.choiced_gestures__choiced_gesture{
                            display:flex;
                            flex-direction: column;
                            align-items: center;
                            label.choiced_gesture__label {
                                display:flex;
                                font-size: 2rem;
                                padding-top: 1rem;
                            }
                            img.choiced_gesture__image {
                                display:flex;
                                width: 10rem;
                                height: 10rem;
                            }
                        }
                    }
                
            }
        
            div.board__gestures_list {
                display:flex;
                justify-content: space-around;
                padding-top: 21.2rem;
                    img.gestures_list__gesture_image {
                        display:flex;
                        cursor: pointer;
                        height: 8rem;
                        width: 8rem;
                        margin-bottom: 1rem;
                            &:hover {
                                background-color: #3f51b5;
                                color: #e8eaf6;
                                box-shadow: 2px 2px 2px #1a237e;
                            }    
                            &:active {
                                background-color: #283593;
                                color: #e8eaf6;
                                outline: none !important;
                                border: 0 !important;
                            }
                            &:focus {
                                outline: none !important;
                                border: 0 !important;
                            }
                    }
            }
       
            div.board__wrapper_ready_button {
                display: flex;
                flex-direction: row;
                justify-content: center;
                    button.board__readyButton  {
                        padding: 0.5em 1.2em;
                        font-size: 1.5em;
                        border-radius: 2px;
                        border: none;
                        outline: medium none currentcolor;
                        cursor: pointer;
                        background-color: #e8eaf6;
                        box-shadow: 1px 1px 1px -1px #7986cb;
                        color: #1a237e;
                    }
                    button.board__unreadyButton {
                        padding: 0.5em 1.2em;
                        font-size: 1.5em;
                        border-radius: 2px;
                        border: none;
                        outline: medium none currentcolor;
                        cursor: pointer;
                        background-color: #3f51b5;
                        box-shadow: 1px 1px 1px -1px #7986cb;
                        color: #e8eaf6;
                    }
            }
            
        }
}
    
    